<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Đăng Xuất</a>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0 dropdown">
            <!-- <a class="nav-link dropdown-toggle" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" (click)="Logout()" >Log Out</a>
                </div> -->
        </div>
    </div>
</nav>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Thông tin tài khoản</h3>
        </div>
        <div class="card-body">
            <li>
                <h5>userName: </h5>{{ user.userName}}
            </li>
            <li>
                <h5>fullName:</h5> {{user.fullName}}
            </li>
           
        </div>
    </div>
</div>