<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Sign in </h1>
            <div class="account-wall">
                <img class="profile-img"
                    src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                    alt="">
                <form class="form-signin" #f="ngForm" (ngSubmit)="onSubmit(f)" >
                    <input type="text" ngModel class="form-control" placeholder="username" name="username" required autofocus>
                   
                    <input type="password" ngModel class="form-control" placeholder="password" name="password"  required>
                    
                    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="sendRequest()">
                        Sign in</button>
                        
                    <label class="checkbox pull-left">
                        <input type="checkbox" value="remember-me">
                        Remember me
                    </label>
                    <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                </form>
            </div>
        </div>
    </div>
</div>